name: Build blog for github pages

on:
  push:
    branches:
      - main
  pull_request: # not listening to any pr's as of yet

  # allows to run workflow manually from actions tab
  workflow_dispatch:

jobs:

  # Build & deploy job
  deploy-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Is required to fetch Hugo themes
          fetch-depth: 0    # no need to get all history when fetching

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.139.3'
          extended: true

      - name: Build blog
        run: hugo --verbose --debug

      - name: Deploy blog to github pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      # - name: dump github context
      #   env:
      #     GITHUB_CONTEXT: ${{ toJson(github) }}
      #   run: echo $GITHUB_CONTEXT

      - name: Purge Cloudflare cache
        if: github.ref == 'refs/heads/main'
        uses: jakejarvis/cloudflare-purge-action@master
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
